@page "/Db-test"
@inject AppDbContext Db

<h1>Database Test</h1>

@if (dishes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var dish in dishes)
        {
            <li>@dish.Name -- @dish.Price</li>
        }
    </ul>
}

@code {
    private List<Menu> dishes;

    protected override async Task OnInitializedAsync()
    {
        dishes = await Db.Menu.ToListAsync();
    }
}
