@page "/weather"
@attribute [StreamRendering]

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

@if (dishes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dish in dishes)
            {
                <tr>
                    <td>@dish.DishId</td>
                    <td>@dish.Name</td>
                    <td>@dish.Price</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Dish[]? dishes;

    protected override async Task OnInitializedAsync()
    {
        
    }
}
