<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">restauracja</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-ph-intro-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cart">
                <span class="bi bi-ph-intro-menu" aria-hidden="true"></span> Cart
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PendingOrders">
                <span class="bi bi-ph-intro-menu" aria-hidden="true"></span> Pending Orders
            </NavLink>
        </div>
    </nav>
</div>

